# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app music-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: music-assistant

  values:
    controllers:
      *app :

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          *app :
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.7.3

            env:
              TZ: "Europe/Amsterdam"

            resources:
              requests:
                cpu: 500m
                memory: 1024Mi
              limits:
                memory: 2500Mi

    defaultPodOptions:
      hostNetwork: true
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      *app :
        controller: *app
        annotations:
          "lbipam.cilium.io/ips": "172.16.2.238"
        type: LoadBalancer
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8095

    ingress:
      *app :
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN}"
        hosts:
          - host: &host "music.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: *app
                  port: http

    persistence:
      media:
        type: nfs
        server: 172.16.2.246
        path: /volume1/MULTIMEDIA/MUSIC
        globalMounts:
          - path: /media

      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /data

      cache:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /cache
