---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    controllers:
      home-assistant:
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: home-assistant-secret
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.12.3@sha256:711c90c7e6f73268a212806bcd9235b6917ae9f81012041aa2dfc895ec2cc558
            env:
              HASS_EXTERNAL_URL: https://hass.${SECRET_DOMAIN}
              HASS_PURGE_KEEP_DAYS: 30
              HASS_UNIT_SYSTEM: metric
              TZ: "Europe/Amsterdam"
              POSTGRES_HOST:
              POSTGRES_DB: home_assistant
              HASS_HTTP_TRUSTED_PROXY_1: 10.96.0.0/16
              HASS_HTTP_TRUSTED_PROXY_2: 172.16.2.0/23
              HASS_HTTP_TRUSTED_PROXY_3: 192.168.12.0/24
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 5Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.107.0@sha256:4b622c4cd1b0f559fec0df67fcf09042d63e9ce84c575102066afd9511695627
            args: [
              "--auth", "none",
              "--user-data-dir", "/config/.vscode",
              "--extensions-dir", "/config/.vscode",
              "--port", "12321",
              "/config"
            ]
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 5Gi

    defaultPodOptions:
      hostNetwork: true
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "hass.${SECRET_DOMAIN}"
            paths: &paths
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
      code-server:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN}"
        hosts:
          - host: &host "hass-code.${SECRET_DOMAIN}"
            paths: &paths
              - path: /
                service:
                  identifier: app
                  port: code-server
        tls:
          - hosts:
              - *host

    persistence:
      config:
        type: persistentVolumeClaim
        accessMode: ReadWriteMany
        size: 75Gi
        globalMounts:
          - path: /config
      tmp:
        type: emptyDir

      homedir:
        type: persistentVolumeClaim
        accessMode: ReadWriteMany
        size: 10Gi
        globalMounts:
          - path: /root

    service:
      app:
        controller: *app
        annotations:
          "lbipam.cilium.io/ips": "172.16.2.237"
        type: LoadBalancer
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8123
          code-server:
            port: 12321



