---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: influxdb
spec:
  interval: 30m
  chart:
    spec:
      chart: influxdb2
      version: 2.1.2
      sourceRef:
        kind: HelmRepository
        name: influxdata
        namespace: flux-system
      interval: 30m
  dependsOn:
    - name: longhorn
      namespace: storage
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # Values link: https://github.com/influxdata/helm-charts/blob/master/charts/influxdb2/values.yaml
  values:
    image:
      repository: influxdb
      tag: 2.8.0-alpine

    pdb:
      create: false

    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi

    adminUser:
      organization: "homeinfra"
      user: "admin"
      retention_policy: "0s"
      bucket: "default"
      existingSecret: "influxdb-secret"

    persistence:
      enabled: true
      storageClass: longhorn
      accessMode: ReadWriteOnce
      size: 50Gi
      mountPath: /var/lib/influxdb2
      subPath: ""

    ingress:
      enabled: true
      className: internal
      annotations:
          external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN}"
      hostname: influx.${SECRET_DOMAIN}
      path: /
      tls: true

